@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --background-rgb: 0, 0, 0;
}

body {
  background-color: rgb(var(--background-rgb));
}

a {
  @apply underline underline-offset-2;
}
