@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --brackground-primary: #000;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--brackground-primary);
}

a {
  @apply underline underline-offset-2;
}
